RewriteEngine on
RewriteCond %{HTTP_HOST} ^eddersonvargas.com$ [NC,OR]
RewriteCond %{HTTP_HOST} ^www.eddersonvargas.com$
RewriteCond %{REQUEST_URI} !personal_web/dist/
RewriteRule (.*) /personal_web/dist/$1 [L]