---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";

const backgroundLigth = "";
---

<Layout title="Edderson Vargas | FullStack Web Developer">
  <main>
    <section class="presentation">
      <h1 class="title">
        Hola, soy <span class="container text-gradient">Edderson Vargas</span>
      </h1>
      <h2>Frontend Developer</h2>
      <p class="description">
        I build pixel-perfect, engaging, and accessible digital experiences.
      </p>
    </section>
  </main>
</Layout>

<script define:vars={{ backgroundLigth }}>
  const updateCursor = ({ x, y }) => {
    document.documentElement.style.setProperty("--x", Math.round(x));
    document.documentElement.style.setProperty("--y", Math.round(y));
  };

  document.body.addEventListener("pointermove", updateCursor);
</script>

<style define:vars={{ backgroundLigth }}>
  main {
    width: 100%;
    height: 100vh;
    color: #e2e8f0;
    font-size: 20px;
    line-height: 1.6;
    background: radial-gradient(
      600px at calc(var(--x) * 1px) calc(var(--y) * 1px),
      rgba(29, 78, 216, 0.15),
      transparent 80%
    );
  }

  .container {
    width: 80%;
    margin: auto;
  }
  .presentation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  h1 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 0.3em;
    text-shadow: 1px 1px 1px #121111ad;
  }
  h2 {
	font-size: 1.3rem;
  }

  .text-gradient {
    color: rgb(var(--accent));
    /* background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%; */
  }
  .description {
	font-size: 0.8rem;
  }
  .instructions code {
    font-size: 0.8em;
    font-weight: bold;
    background: rgba(var(--accent-light), 12%);
    color: rgb(var(--accent-light));
    border-radius: 4px;
    padding: 0.3em 0.4em;
  }
  .instructions strong {
    color: rgb(var(--accent-light));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
